@{
    ViewBag.Title = "About";
}
<br /><br /><br /><br />
<div class="about-page">
    <div class="right-content" align="center">
        <h2>Trường đại học Công Ngiệp Hà Nội</h2>
        <h2>Khoa Công Nghệ Thông Tin</h2>
        <h2>Thực tập chuyên ngành hệ thống thông tin</h2>
        <h2>Nhóm 4</h2>
        <h2>Đề tài: Xây dựng website quản lý bán sách online</h2>
    </div>
</div>